<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
        <gazebo>
            <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
                <ros>
                    <!-- <namespace></namespace> -->
                    <remapping>odom:=odom/unfiltered</remapping>
                </ros>
                <updateRate>100</updateRate>

                <!-- Wheel Information -->
                <num_wheel_pairs>2</num_wheel_pairs>
                <left_joint>joint_back_wheel_left</left_joint>
                <left_joint>joint_front_wheel_left</left_joint>
                <right_joint>joint_back_wheel_right</right_joint>
                <right_joint>joint_front_wheel_right</right_joint>
                <wheel_separation>0.154</wheel_separation>
                <wheel_diameter>0.0635</wheel_diameter>
               
                <!-- Limits -->
                <max_wheel_torque>2.4</max_wheel_torque>
                <max_wheel_acceleration>5.0</max_wheel_acceleration>
                
                <!-- Output -->
                <odometry_frame>odom</odometry_frame>
                <robot_base_frame>base_footprint</robot_base_frame>

                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>
                <publish_wheel_tf>true</publish_wheel_tf>
                <odometry_source>1</odometry_source>
                
            </plugin>
        </gazebo>
   
</robot>